.container {
  margin-left: 50px;
}

.display-4 {
  font-weight: 800px;
}

footer {
  background-color: black;
}

/* @media screen and (max-width: 768px) { */

/* Set standards for phones */
@media screen and (max-width: 400px) {
  .container {
    margin-left: 7px;
    padding-left: 15px;
  }
}
